### BEGIN PROJECT
private/
docs/internal

### BEGIN OS
.DS_Store

### BEGIN C#
#use `./scripts/<os>/create` script

## Vampiro project files

# Compiled class file
NetVampiro/bin
NetVampiro/obj

NetBloodTest/bin
NetBloodTest/obj

### EOF

