name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run:  pwd &&
            ls -lisah &&
            dotnet restore
    - name: Build
      run:  pwd
            cd NetVampiro
            dotnet build NetVampiro --verbosity detailed --configuration Release --no-restore
    - name: Test
      run: pwd
           cd NetVampiro
           dotnet test --no-restore --verbosity normal
